@(contactForm: Form[Contact], id: String, crudAction: String)

@import helper._

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contact Form</title>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contactform.js")"></script>
</head>	
<body>
	@tpltopmenu(crudAction + " Contact")
	
	@form(action = routes.Contacts.delete(id), 'id -> "formDelete") {
		<input type="hidden" name="deleteAct"/>
	}
	
	@form(action = routes.Contacts.submit) {
		<section id="personalinfo">
			<header>
				<h1>CONTACT INFO</h1>
			</header>
			@helper.inputText(contactForm("id"), '_label -> "", 'hidden -> "hidden")			
			<fieldset class="oneline">
				<label>Name</label> 
				@helper.inputText(contactForm("firstName"), 'required -> "required", 'class -> "contactfield", '_label -> "", 'placeholder -> "Joe")
				@helper.inputText(contactForm("lastName"), 'class -> "contactfield", '_label -> "",'required -> "required", 'placeholder -> "Smith")
			</fieldset>
			<fieldset>
				@helper.inputText(contactForm("emailAddy"), 'class -> "contactfield", '_label -> "Email", 'type -> "email", 'required -> "required", 'placeholder -> "email@domain.com")
			</fieldset>
			<fieldset>
				@helper.inputText(contactForm("phoneNo"), 'class -> "contactfield", '_label -> "Phone", 'type -> "tel", 'required -> "required", 'placeholder -> "###-###-####")
			</fieldset>
		</section>
		<section id="contactnotes">
			<header>
				<h1>NOTES</h1>
			</header>
			<fieldset class="multiline">
				@helper.inputText(contactForm("personNotes"), 'class -> "contactfield", '_label -> "")
			</fieldset>
		</section>
		<div class="formActions">
			<input class="buttons" id="btnSave" type="submit" value="Save"/>
			<input class="buttons" id="btnConfirmDelete" type="submit" value="Delete" form="formDelete"/> 
			<input class="buttons" id="btnCancel" type="reset" value="Cancel"/>
			<input class="buttons" id="btnEdit" type="button" value="Edit"/> 
			<input class="buttons" id="btnDelete" type="button" value="Delete"/>
			<a href="@routes.Application.index">
				<input class="buttons" id="btnBack" type="button" value="Back"/> 
			</a>
		</div>
	}
</body>
</html>